.your-class::-webkit-input-placeholder {
    color: #b2cde0
}
#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}
.jumbotron-0 {
    position: relative;
    background: #FFF; 
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
#typeahead
{
    /* override typeahead.js's transparent background */
    background-color: #ffffff !important;

    /* text box's width */
    width: 300px;
}
#sug{
    font-family: "Raleway", 300;
}
#model_id_type{
    font-family: "Raleway", 200 !important;
    color: grey;
    font-size: small;
}
@font-face{
    font-family: Raleway;
    src: url("https://fonts.googleapis.com/css?family=Raleway:200,300,400");
}
#head{
  text-align:center;
}
#middle{
  text-align:center;
}
.tt-dropdown-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    padding: 6px 12px;
    width: 300px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion p {
    margin: 0;
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}